doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= title
    p Welcome to #{title}
    #list.user-list
      ul 
        li= list 
        li= list 
        li= list 
        li= list
    p Hello from GitHub 
